# 00. Continuation of Exercise 4.6: Combining and Exporting Data

# 01. Importing of libraries

In [3]:
# Import libraries

import pandas as pd
import numpy as np
import os

# Assigning paths

In [4]:
# Telling Python to remember a main folder path

path = r'C:\Users\New User\OneDrive\Documents\05-2024 Instacart Basket Analysis'

# Task 03. Importing data

In [5]:
# Import the orders_products_combined dataframe from the pickle file

df_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

# Task 04. Check the shape of  the imported dataframe

In [24]:
# Check the shape of the imported dataframe

# This is to ensure the shape matches the one I exported

df_combined.shape

(32640698, 10)

In [ ]:
# The expected_shape == actual_shape

# The dataframe shape remained the same

In [6]:
# Define data types to reduce memory usage

dtype_dict = {
    'product_id': 'float32',
    'order_id': 'int32',
    'add_to_cart_order': 'float32',
    'reordered': 'float32',
    'user_id': 'int32',
    'order_number': 'int32',
    'orders_day_of_week': 'int32',
    'order_hour_of_day': 'int32',
    'days_since_last_order': 'float32'
    '_merge': 'category',
}

SyntaxError: invalid syntax (1331900742.py, line 13)

In [25]:
df_combined.head()

,order_id,product_id,add_to_cart_order,reordered,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,_merge
0,2,33120.0,1.0,1.0,202279,3,5,9,8.0,both
1,2,28985.0,2.0,1.0,202279,3,5,9,8.0,both
2,2,9327.0,3.0,0.0,202279,3,5,9,8.0,both
3,2,45918.0,4.0,1.0,202279,3,5,9,8.0,both
4,2,30035.0,5.0,0.0,202279,3,5,9,8.0,both

# Task 05. Combine orders_products_combined with Products Data Set

In [11]:
# Import my cleaned and deduplication products dataset

df_prods_clean = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = False)

# Check the shape of imported dataframe

In [16]:
# Check the shape of the imported dataframe

# This is to ensure the shape matches the one I last exported

# Checkout the output

df_prods_clean.shape

(49672, 5)

In [17]:
df_prods_clean.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [49]:
df_prods_clean.describe()

         product_id      aisle_id  department_id        prices
count  49672.000000  49672.000000   49672.000000  49672.000000
mean   24850.349775     67.762442      11.728942      9.993282
std    14340.705287     38.315784       5.850779    453.615536
min        1.000000      1.000000       1.000000      1.000000
25%    12432.750000     35.000000       7.000000      4.100000
50%    24850.500000     69.000000      13.000000      7.100000
75%    37268.250000    100.000000      17.000000     11.100000
max    49688.000000    134.000000      21.000000  99999.000000

In [15]:
# Drop the Unnamed: 0 columns and overwrite the original dataframe

df_prods_clean.drop(columns=['Unnamed: 0'], inplace=True)

KeyError: "['Unnamed: 0'] not found in axis"

# Optimize data types

In [9]:
# convert columns to 32-bit

df_combined['order_id'] = df_combined['order_id'].astype('int32')
df_combined['product_id'] = df_combined['product_id'].astype('float32')
df_combined['add_to_cart_order'] = df_combined['add_to_cart_order'].astype('float32')
df_combined['reordered'] = df_combined['reordered'].astype('float32')
df_combined['user_id'] = df_combined['user_id'].astype('int32')
df_combined['order_number'] = df_combined['order_number'].astype('int32')
df_combined['orders_day_of_week'] = df_combined['orders_day_of_week'].astype('int32')
df_combined['order_hour_of_day'] = df_combined['order_hour_of_day'].astype('int32')
df_combined['days_since_last_order'] = df_combined['days_since_last_order'].astype('float32')
df_combined['_merge'] = df_combined['_merge'].astype('category')

In [ ]:
# Optimize data types

# Merge with the combined dataframe

In [18]:
# Merge with the combined dataframe

ords_prods_merge = pd.merge(df_combined, df_prods_clean, on='product_id', how='left', indicator='merge_flag')

# Task 06. Confirm the Results of the Merge Using the Merge Flag

In [20]:
# Check the _merge column to ensure the merge was successful (Verify the results of the merge)

ords_prods_merge['_merge'].value_counts()

_merge
both          32435059
right_only      206209
left_only            0
Name: count, dtype: int64

In [21]:
# Check the shape of the final merged dataframe 

ords_prods_merge.shape

(32641268, 15)

In [22]:
# Check the ouput of the merge

ords_prods_merge.head()

,order_id,product_id,add_to_cart_order,reordered,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,_merge,product_name,aisle_id,department_id,prices,merge_flag
0,2,33120.0,1.0,1.0,202279,3,5,9,8.0,both,Organic Egg Whites,86.0,16.0,11.3,both
1,2,28985.0,2.0,1.0,202279,3,5,9,8.0,both,Michigan Organic Kale,83.0,4.0,13.4,both
2,2,9327.0,3.0,0.0,202279,3,5,9,8.0,both,Garlic Powder,104.0,13.0,3.6,both
3,2,45918.0,4.0,1.0,202279,3,5,9,8.0,both,Coconut Butter,19.0,13.0,8.4,both
4,2,30035.0,5.0,0.0,202279,3,5,9,8.0,both,Natural Sweetener,17.0,13.0,13.7,both

# Task 07. Export the Newly Created Dataframe in a Suitable Format

In [ ]:
# Considering the size of the newly created dataframe, exporting as a pickle file is efficient

# Define a path to export dataframe

In [23]:
# Define the export path

export_path = os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merge.pkl')

# Export Dataframe

In [25]:
# Export the merge dataframe to a pickle file

ords_prods_merge.to_pickle(export_path)

# 00. Confirm if the dataframe was successfully exported

In [26]:
print("Dataframe exported successfully to:", export_path)

Dataframe exported successfully to: C:\Users\New User\OneDrive\Documents\05-2024 Instacart Basket Analysis\02 Data\Prepared Data\ords_prods_merge.pkl