# 01. Importing libraries

In [13]:
# Import libraries

import pandas as pd
import numpy as np
import os

# 02. Assigning path tothe main directory

In [14]:
# Telling Python to remember the main folder path

path=r'C:\Users\New User\OneDrive\Documents\05-2024 Instacart Basket Analysis'

# Importing data

In [15]:
# Importing data set df_ords_prior

df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders_products_prior.csv'), index_col = False)

In [16]:
# Importing data set orders_checked.csv

df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_checked.csv'), index_col = False)

# 03. Check the dimesnsions of imported dataframe

In [34]:
# Check the output

df_ords_prior.shape

(32434489, 4)

In [35]:
# Check the output

df_ords_prior.dtypes

order_id             int64
product_id           int64
add_to_cart_order    int64
reordered            int64
dtype: object

In [36]:
# Check the output

df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

# Check the dimensions of df_ords

In [41]:
# Check the output

df_ords.shape

(3421083, 6)

In [42]:
# Check the output

df_ords.dtypes

order_id                   int64
user_id                    int64
order_number               int64
orders_day_of_week         int64
order_hour_of_day          int64
days_since_last_order    float64
dtype: object

# 04. Drop the unwanted columns from the df_ords

In [43]:
# Drop the Unnamed: 0.1 and Unnamed: 0 columns

df_ords_cleaned = df_ords.drop(columns=['Unnamed: 0.1', 'Unnamed: 0'])

KeyError: "['Unnamed: 0.1', 'Unnamed: 0'] not found in axis"

In [40]:
# Check the output

df_ords_cleaned.shape

(3421083, 6)

In [24]:
# Check the output

df_ords_cleaned.dtypes

order_id                   int64
user_id                    int64
order_number               int64
orders_day_of_week         int64
order_hour_of_day          int64
days_since_last_order    float64
dtype: object

# Verify if changes was successful

In [44]:
# verify changes

df_ords_cleaned.columns

Index(['order_id', 'user_id', 'order_number', 'orders_day_of_week',
       'order_hour_of_day', 'days_since_last_order'],
      dtype='object')

In [26]:
df_ords_cleaned.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order
0,2539329,1,1,2,8,7.0
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

# 05. overwrite the original df_ords dataframe

In [31]:
# Drop the Unnamed: 0.1 and Unnamed: 0 columns and overwrite the original dataframe

df_ords.drop(columns=['Unnamed: 0.1', 'Unnamed: 0'], inplace=True)

KeyError: "['Unnamed: 0.1', 'Unnamed: 0'] not found in axis"

# Verify new dimensions afte changes

In [27]:
# Verify the changes

df_ords.columns

Index(['Unnamed: 0.1', 'Unnamed: 0', 'order_id', 'user_id', 'order_number',
       'orders_day_of_week', 'order_hour_of_day', 'days_since_last_order'],
      dtype='object')

In [48]:
df_ords.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order
0,2539329,1,1,2,8,7.0
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [49]:
# Check the output of data types

df_ords.dtypes

order_id                   int64
user_id                    int64
order_number               int64
orders_day_of_week         int64
order_hour_of_day          int64
days_since_last_order    float64
dtype: object

# 06. merge the dataframe with df_ords dataframe

In [46]:
# Merge the dataframes

df_merged = pd.merge(df_ords_prior, df_ords, on='order_id', how='outer', indicator=True)

In [47]:
df_merged

,order_id,product_id,add_to_cart_order,reordered,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,_merge
0,2,33120.0,1.0,1.0,202279,3,5,9,8.0,both
1,2,28985.0,2.0,1.0,202279,3,5,9,8.0,both
2,2,9327.0,3.0,0.0,202279,3,5,9,8.0,both
3,2,45918.0,4.0,1.0,202279,3,5,9,8.0,both
4,2,30035.0,5.0,0.0,202279,3,5,9,8.0,both
...,...,...,...,...,...,...,...,...,...,...
32640693,1716008,NaN,NaN,NaN,206205,4,1,16,10.0,right_only
32640694,1043943,NaN,NaN,NaN,206206,68,0,20,0.0,right_only
32640695,2821651,NaN,NaN,NaN,206207,17,2,13,14.0,right_only
32640696,803273,NaN,NaN,NaN,206208,50,5,11,4.0,right_only
32640697,272231,NaN,NaN,NaN,206209,14,6,14,30.0,right_only

# Verify merged dimensions and output

In [28]:
df_merged.shape

(32640698, 10)

In [29]:
df_ords.shape

(3421083, 6)

In [30]:
df_ords_prior.shape

(32434489, 4)

# Verify data types of merged dataframe

In [22]:
df_merged.dtypes

order_id                    int64
product_id                float64
add_to_cart_order         float64
reordered                 float64
user_id                     int64
order_number                int64
orders_day_of_week          int64
order_hour_of_day           int64
days_since_last_order     float64
_merge                   category
dtype: object

# Output display of few rows of the merged dataframe

In [48]:
# Display the first few rows of the merged dataframe to verify the merge 

df_merged.head()

,order_id,product_id,add_to_cart_order,reordered,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,_merge
0,2,33120.0,1.0,1.0,202279,3,5,9,8.0,both
1,2,28985.0,2.0,1.0,202279,3,5,9,8.0,both
2,2,9327.0,3.0,0.0,202279,3,5,9,8.0,both
3,2,45918.0,4.0,1.0,202279,3,5,9,8.0,both
4,2,30035.0,5.0,0.0,202279,3,5,9,8.0,both

In [53]:
df_merged.dtypes

order_id                    int64
product_id                float64
add_to_cart_order         float64
reordered                 float64
user_id                     int64
order_number                int64
orders_day_of_week          int64
order_hour_of_day           int64
days_since_last_order     float64
_merge                   category
dtype: object

# Counts of the _merge columns

In [49]:
# Check the counts of the _merge column to understand the match status

df_merged['_merge'].value_counts()

_merge
both          32434489
right_only      206209
left_only            0
Name: count, dtype: int64

# Task 4.6: Combining and Exporting data

# Task 1: Merge Instacart Orders Data with orders_products_prior

In [20]:
# I have already completed this step in the previous interaction. Here's the code for reference:

In [21]:
# import pandas as pd
# import numpy as np
# import os

# Load the datasets

# df_ords = pd.read_csv('orders_checked.csv')
# df_ords_prior = pd.read_csv('orders_products_prior.csv')

# Remove unwanted columns
# df_ords.drop(columns=['Unnamed: 0.1', 'Unnamed: 0'], inplace=True)

# Merge the dataframes
# df_merged = pd.merge(df_ords_prior, df_ords, on='order_id', how='outer', indicator=True)

# Verify the merge
# df_merged.head()
# df_merged['_merge'].value_counts()

# Task 2: Export the Merged File in Pickle Format

In [50]:
# Define the export path

export_path = os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merge.pkl')

In [52]:
# Export the merged dataframe to a pickle file

df_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))

In [ ]:
df_combined['order_id'].astype('int64') = df_combined['order_id'].astype('int32')
df_combined['product_id'].astype('float64') = df_combined['product_id'].astype('float32')
df_combined['add_to_cart_order'].astype('float64') = df_combined['add_to_cart_order'].astype('float32')
df_combined['reordered'].astype('float64') = df_combined['reordered'].astype('float32')
df_combined['user_id'].astype('int64') = df_combined['user_id'].astype('int32')
df_combined['order_number'].astype('int64') = df_combined['order_number'].astype('int32')
df_combined['orders_day_of_week'].astype('int64') = df_combined['orders_day_of_week'].astype('int32')
df_combined['order_hour_of_day'].astype('int64') = df_combined['order_hour_of_day'].astype('int32')
df_combined['days_since_last_order'].astype('float64') = df_combined['days_since_last_order'].astype('float32')
df_combined['_merge'].astype('category') = df_combined['_merge'].astype('category')