# 01. Importing libraries

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

# 02. Assigning path to the main directory

In [2]:
# Telling Python to remember the main folder path

path=r'C:\Users\New User\OneDrive\Documents\05-2024 Instacart Basket Analysis'

# 03. Importing Data

In [3]:
# Import the orders_products_combined dataframe from the pickle file

ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merge.pkl'))

# 04. Create a subset

In [5]:
df = ords_prods_merge[:1000000]

# Check the shape and head of the dataframe

In [6]:
df.shape

(1000000, 15)

In [7]:
df.head()

,order_id,product_id,add_to_cart_order,reordered,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,_merge,product_name,aisle_id,department_id,prices,merge_flag
0,2,33120.0,1.0,1.0,202279,3,5,9,8.0,both,Organic Egg Whites,86.0,16.0,11.3,both
1,2,28985.0,2.0,1.0,202279,3,5,9,8.0,both,Michigan Organic Kale,83.0,4.0,13.4,both
2,2,9327.0,3.0,0.0,202279,3,5,9,8.0,both,Garlic Powder,104.0,13.0,3.6,both
3,2,45918.0,4.0,1.0,202279,3,5,9,8.0,both,Coconut Butter,19.0,13.0,8.4,both
4,2,30035.0,5.0,0.0,202279,3,5,9,8.0,both,Natural Sweetener,17.0,13.0,13.7,both

# 05. Define the Price label function

In [8]:
def price_label(row):

  if row['prices'] <= 5:
     return 'Low-range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
       return 'Mid-range product'
  elif row['prices'] > 15:
       return 'High range'
  else: return np.nan

# 06. Applying the Price label function

In [9]:
df['price_range'] = df.apply(price_label, axis=1)

C:\Users\New User\AppData\Local\Temp\ipykernel_3916\2848743372.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label, axis=1)

# Print dataframe with price labels

In [41]:
df

,order_id,product_id,add_to_cart_order,reordered,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,_merge,product_name,aisle_id,department_id,prices,merge_flag,price_range,price_range_loc
0,2,33120.0,1.0,1.0,202279,3,5,9,8.0,both,Organic Egg Whites,86.0,16.0,11.3,both,Mid-range product,nan
1,2,28985.0,2.0,1.0,202279,3,5,9,8.0,both,Michigan Organic Kale,83.0,4.0,13.4,both,Mid-range product,nan
2,2,9327.0,3.0,0.0,202279,3,5,9,8.0,both,Garlic Powder,104.0,13.0,3.6,both,Low-range product,nan
3,2,45918.0,4.0,1.0,202279,3,5,9,8.0,both,Coconut Butter,19.0,13.0,8.4,both,Mid-range product,nan
4,2,30035.0,5.0,0.0,202279,3,5,9,8.0,both,Natural Sweetener,17.0,13.0,13.7,both,Mid-range product,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,105627,13874.0,4.0,0.0,202593,69,0,13,2.0,both,Organic Pumpkin,17.0,13.0,8.0,both,Mid-range product,nan
999996,105627,45106.0,5.0,1.0,202593,69,0,13,2.0,both,Low Fat Strawberry Yogurt Tubes,120.0,16.0,8.6,both,Mid-range product,nan
999997,105627,48577.0,6.0,1.0,202593,69,0,13,2.0,both,Cream Top Smooth Coffee Yogurt,120.0,16.0,14.9,both,Mid-range product,nan
999998,105627,8907.0,7.0,0.0,202593,69,0,13,2.0,both,Roasted Garlic Extra Virgin Olive Oil,19.0,13.0,1.7,both,Low-range product,nan
999999,105627,42294.0,8.0,0.0,202593,69,0,13,2.0,both,Certified Compostable Large Baking Cups,97.0,13.0,12.2,both,Mid-range product,nan

# Check the most expensive product within the dataset

In [25]:
df['prices'].max()

99999.0

In [11]:
df['price_range'].value_counts(dropna = False)

price_range
Mid-range product    673592
Low-range product    312617
High range            12900
NaN                     891
Name: count, dtype: int64

# Checking the descriptive statistics of the dataset

In [12]:
df['prices'].describe()

count    999109.000000
mean         12.237310
std         520.173983
min           1.000000
25%           4.200000
50%           7.400000
75%          11.300000
max       99999.000000
Name: prices, dtype: float64

In [13]:
nan_locations = df.isna()

In [14]:
rows_with_nan = nan_locations.any(axis=1)

In [15]:
df_with_nan = df[rows_with_nan]

In [40]:
df_with_nan

,order_id,product_id,add_to_cart_order,reordered,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,_merge,product_name,aisle_id,department_id,prices,merge_flag,price_range
357,44,2240.0,9.0,0.0,183833,3,6,17,1.0,both,NaN,NaN,NaN,NaN,left_only,NaN
1985,224,34.0,8.0,1.0,109534,6,0,14,13.0,both,NaN,NaN,NaN,NaN,left_only,NaN
4842,508,34.0,2.0,1.0,51003,6,5,11,10.0,both,NaN,NaN,NaN,NaN,left_only,NaN
5054,537,1511.0,1.0,1.0,180135,15,2,8,3.0,both,NaN,NaN,NaN,NaN,left_only,NaN
6503,676,1511.0,6.0,1.0,165814,18,0,17,7.0,both,NaN,NaN,NaN,NaN,left_only,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
998233,105441,1511.0,2.0,1.0,19927,19,3,10,12.0,both,NaN,NaN,NaN,NaN,left_only,NaN
998343,105453,1511.0,4.0,1.0,65950,10,2,16,7.0,both,NaN,NaN,NaN,NaN,left_only,NaN
998583,105476,1511.0,25.0,1.0,81839,7,0,14,7.0,both,NaN,NaN,NaN,NaN,left_only,NaN
999530,105584,1511.0,9.0,1.0,17222,42,1,21,4.0,both,NaN,NaN,NaN,NaN,left_only,NaN
999773,105607,1511.0,9.0,1.0,120272,9,1,17,25.0,both,NaN,NaN,NaN,NaN,left_only,NaN

In [22]:
max_price = df['prices'].max()

In [23]:
print("\nThe most expensive product price is:")

The most expensive product price is:

In [24]:
print(max_price)

99999.0

In [17]:
nan_price_range = df['price_range'].isna()

In [18]:
df_nan_price_range = df[nan_price_range]

In [39]:
df_nan_price_range

,order_id,product_id,add_to_cart_order,reordered,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,_merge,product_name,aisle_id,department_id,prices,merge_flag,price_range
357,44,2240.0,9.0,0.0,183833,3,6,17,1.0,both,NaN,NaN,NaN,NaN,left_only,NaN
1985,224,34.0,8.0,1.0,109534,6,0,14,13.0,both,NaN,NaN,NaN,NaN,left_only,NaN
4842,508,34.0,2.0,1.0,51003,6,5,11,10.0,both,NaN,NaN,NaN,NaN,left_only,NaN
5054,537,1511.0,1.0,1.0,180135,15,2,8,3.0,both,NaN,NaN,NaN,NaN,left_only,NaN
6503,676,1511.0,6.0,1.0,165814,18,0,17,7.0,both,NaN,NaN,NaN,NaN,left_only,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
998233,105441,1511.0,2.0,1.0,19927,19,3,10,12.0,both,NaN,NaN,NaN,NaN,left_only,NaN
998343,105453,1511.0,4.0,1.0,65950,10,2,16,7.0,both,NaN,NaN,NaN,NaN,left_only,NaN
998583,105476,1511.0,25.0,1.0,81839,7,0,14,7.0,both,NaN,NaN,NaN,NaN,left_only,NaN
999530,105584,1511.0,9.0,1.0,17222,42,1,21,4.0,both,NaN,NaN,NaN,NaN,left_only,NaN
999773,105607,1511.0,9.0,1.0,120272,9,1,17,25.0,both,NaN,NaN,NaN,NaN,left_only,NaN

# Creating the "busiest_day" column

# Findout the frequency of orders_day_of_week

This information will tell which day the most orders took place

In [29]:
# Print the frequency of the 'orders_day_of_week' column

orders_day_freq = ords_prods_merge['orders_day_of_week'].value_counts()

In [30]:
print(orders_day_freq)

orders_day_of_week
0    6252941
1    5696724
6    4530304
2    4243173
5    4236989
3    3868747
4    3812390
Name: count, dtype: int64

# From the printed frequencies, we know:

The busiest day (most orders) is Saturday, which corresponds to a value of 0.
    
The slowest day (least orders) is Wednesday, which corresponds to a value of 4.

#  Create the "busiest_day" Column Using a For-Loop

In [32]:
# Create an empty list to store the labels

busiest_day_labels = []

# Loop through the 'orders_day_of_week' column

for day in ords_prods_merge['orders_day_of_week']:
    if day == 0:
        busiest_day_labels.append('Busiest day')
    elif day == 4:
        busiest_day_labels.append('Least busy')
    else:
        busiest_day_labels.append('Regularly busy')

In [34]:
# Print the result

busiest_day_labels

['Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Least busy',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 ...]

# Create a new column within ords_prods_merge dataframe to combine the result

In [35]:
# Add the new column to the dataframe

ords_prods_merge['busiest_day'] = busiest_day_labels

In [38]:
ords_prods_merge['busiest_day'].value_counts(dropna = False)

busiest_day
Regularly busy    22575937
Busiest day        6252941
Least busy         3812390
Name: count, dtype: int64

In [37]:
# Display the first few rows to verify the new column

ords_prods_merge.head()

,order_id,product_id,add_to_cart_order,reordered,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,_merge,product_name,aisle_id,department_id,prices,merge_flag,busiest_day
0,2,33120.0,1.0,1.0,202279,3,5,9,8.0,both,Organic Egg Whites,86.0,16.0,11.3,both,Regularly busy
1,2,28985.0,2.0,1.0,202279,3,5,9,8.0,both,Michigan Organic Kale,83.0,4.0,13.4,both,Regularly busy
2,2,9327.0,3.0,0.0,202279,3,5,9,8.0,both,Garlic Powder,104.0,13.0,3.6,both,Regularly busy
3,2,45918.0,4.0,1.0,202279,3,5,9,8.0,both,Coconut Butter,19.0,13.0,8.4,both,Regularly busy
4,2,30035.0,5.0,0.0,202279,3,5,9,8.0,both,Natural Sweetener,17.0,13.0,13.7,both,Regularly busy

# Task 02. Update the "busiest_day" column

# Step 1: Identify the busiest and slowest days

In [44]:
# Calculate the frequency of orders for each day of the week: (previously achieved)

# Identify the two busiest and two slowest days:

busiest_days = orders_day_freq.index[:2].tolist()  # First two days (busiest)

slowest_days = orders_day_freq.index[-2:].tolist()  # Last two days (slowest)

In [47]:
# Print the busiest and slowest days

print("Two busiest days of the week:", busiest_days)

print("Two slowest days of the week:", slowest_days)

Two busiest days of the week: [0, 1]
Two slowest days of the week: [3, 4]

In [48]:
# From the outcome;

# The two busiest days of the week are Saturday and Sunday, corresponding to 0 and 1

# The two slowest days of the week are Tuesday and Wednesday, corresponding to 3 and 4

# Step 2: Create the new column with updated labels

In [45]:
# Create the new column based on these values

ords_prods_merge['busiest_days'] = ords_prods_merge['orders_day_of_week'].apply(
    lambda x: 'Busiest days' if x in busiest_days else ('Slowest days' if x in slowest_days else 'Regular days')
)

In [46]:
# Display the first few rows to verify the new column

ords_prods_merge[['orders_day_of_week', 'busiest_days']].head()

   orders_day_of_week  busiest_days
0                   5  Regular days
1                   5  Regular days
2                   5  Regular days
3                   5  Regular days
4                   5  Regular days

# Task 03. Check the Values of the New Column to verify the accuracy of the new "busiest_days" column

In [50]:
# Print the frequency of the new column to check for accuracy

busiest_days_freq = ords_prods_merge['busiest_days'].value_counts()

print("Frequency of the new 'busiest_days' column:\n", busiest_days_freq)

Frequency of the new 'busiest_days' column:
 busiest_days
Regular days    13010466
Busiest days    11949665
Slowest days     7681137
Name: count, dtype: int64

# Observation

The counts match the expected distribution of busiest, slowest, and regular days based on the initial frequency calculations

# Task 04: Identify the Busiest Periods of the Day

# Step 1. Calculate the frequency of orders for each hour:

* Sort these frequencies to categorize them.

In [51]:
# Calculate the frequency of orders for each hour of the day

orders_hour_freq = ords_prods_merge['order_hour_of_day'].value_counts().sort_values(ascending=False)

In [56]:
# Print the "Order frequencies by hour of the day:\n" 

orders_hour_freq

order_hour_of_day
10    2781009
11    2755369
14    2709084
15    2682090
13    2680171
12    2637533
16    2554110
9     2471067
17    2104225
8     1729871
18    1649870
19    1268365
20     983232
7      897163
21     801052
22     638671
23     405051
6      292533
0      220337
1      116589
5       88661
2       69904
4       53636
3       51675
Name: count, dtype: int64

# Step 2. Determine thresholds for categorization

In [57]:
# Determine thresholds for "Most orders", "Average orders", and "Fewest orders"

most_orders_hours = orders_hour_freq.index[:8].tolist()  # Top 8 hours

fewest_orders_hours = orders_hour_freq.index[-8:].tolist()  # Bottom 8 hours

# The remaining hours will be considered "Average orders"

average_orders_hours = orders_hour_freq.index[8:-8].tolist()

# Step 3. Create the new column, "busiest_period_of_day" Column

In [58]:
ords_prods_merge['busiest_period_of_day'] = ords_prods_merge['order_hour_of_day'].apply(
    lambda x: 'Most orders' if x in most_orders_hours else ('Fewest orders' if x in fewest_orders_hours else 'Average orders')
)

In [61]:
# Display the first few rows to verify the new column

ords_prods_merge[['order_hour_of_day', 'busiest_period_of_day']].head()

   order_hour_of_day busiest_period_of_day
0                  9           Most orders
1                  9           Most orders
2                  9           Most orders
3                  9           Most orders
4                  9           Most orders

# Task 5. Print the frequency for the new column

In [63]:
# Verify the distribution of the new "busiest_period_of_day" column

ords_prods_merge['busiest_period_of_day'].value_counts()

busiest_period_of_day
Most orders       21270433
Average orders    10072449
Fewest orders      1298386
Name: count, dtype: int64

# Task 7. Export the Dataframe and save the updated dataframe as a pickle file.

In [66]:
# Define the export path

export_path = os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl')

In [67]:
# Export the dataframe as a pickle file

ords_prods_merge.to_pickle(export_path)

In [68]:
# Confirm export of the dataframe as a pickle file

print("Dataframe exported successfully to:", export_path)

Dataframe exported successfully to: C:\Users\New User\OneDrive\Documents\05-2024 Instacart Basket Analysis\02 Data\Prepared Data\orders_products_combined.pkl